<!-- Name is iyiiofficial.netlify.app -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Official Iyiola</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <nav>

        <p style="font-family: helvetica; font-size: 4vh;">IYII</p>

        <ul>
            <li><a href="">Home</a></li>
            <li title="About Iyii"><a href="#about">About</a></li>
            <li title="My skills"><a href="#skills">Skills</a></li>
            <li title="My Projects"><a href="#my_projets">Projects</a></li>
        </ul>

    </nav>

    <div class="div_with_coffee_image" id="about">

        <main class="first_main">
            <div>
                <p class="about_me">ABOUT ME</p>
                <h1 class="h1_is_it">Crafting Sleek, Scalable, and Future-Ready Web Solutions.</h1>
                <p class="about_me_text">I am Iyiola Abifarin, and I create the digital future one website at a time. What drives me is the challenge of turning ideas into fully functional, responsive, and user-friendly websites. I specialize in designing multi-device compatible pages that balance clean visuals with smooth interactions, ensuring every visitor enjoys a seamless experience.</p>
            </div>
             <img src="myimg.jpg" alt="Picture of Iyiola Abifarin">
        </main>

    </div>

    <div class="all_progress" id="skills">

        <div class="will_it_be_skills">
            <p class="my_top_top">MY TOP</p>
            <h1>SKILLS.</h1>
            <p class="specialisaztion_is_it">I’m a front-end developer with solid skills in HTML, CSS, JavaScript, and Bootstrap. I focus on creating clean, responsive, and user-friendly websites that work flawlessly across devices.</p>
            <p class="specialisaztion_is_it">By combining modern design with efficient coding practices, I build digital experiences that are both visually appealing and highly functional.</p>
        </div>
        <div class="all_progresses" data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
           <span><p>HTML </p> <strong>84%</strong></span>
           <progress value="84" max="100"></progress>
           <span><p>CSS </p> <strong>90%</strong></span>
           <progress value="90" max="100"></progress>
           <span><p>BOOTSTRAP </p> <strong>57%</strong></span>
           <progress value="57" max="100"></progress>
           <span><p>JAVASCRIPT </p> <strong>81%</strong></span>
           <progress value="81" max="100"></progress>
        </div>

    </div>

    <h1 style="margin-top: 30vh;justify-self: center;cursor: progress;" title="A quick overview of all my Projects">- MY PROJECTS -</h1>
    <div class="my_projetss" id="my_projets">
        <div>
            <h1 style="font-family: helvetica;">A text-based chat-bot</h1>
            <img src="chatbot.png" alt=""  onclick="do_another_thing()">
            <h3>A fully functional text-based chatbot that get's fulltime response from Open AI GPT-4 Turbo</h3>
            <button onclick="do_another_thing()">CLick here</button>
        </div>
        <div>
            <h1 style="font-family: helvetica;">A fully functional quiz-app</h1>
            <img src="quiz app.png" alt="" onclick="do_something()">
            <h3>A fully functional text-based chatbot that get's fulltime response from Open AI GPT-4 Turbo</h3>
            <button onclick="do_something()">CLick here</button>
        </div>
        <div>
            <h1 style="font-family: helvetica;">A working calculator</h1>
            <img src="calculator.png" alt="" onclick="do_another_thing()">
            <h3>A fully functional text-based chatbot that get's fulltime response from Open AI GPT-4 Turbo</h3>
            <button onclick="do_another_thingg()">CLick here</button>
        </div>

    </div>


    <div class="form_guide">
        <div class="form_place">
            <h1>Contact me....</h1>
            <form action="homepage" method="POST" onsubmit="return what_the_fuck()">
                <p id="error_message"></p>
                <input type="text" placeholder="Your name" name="name" id="name_element">
                <input type="email" placeholder="Your email" name="email" id="email_element">
                <textarea placeholder="Your request or order" name="Request" id="request_element"></textarea>
                <button>Submit</button>
            </form>
        </div>
    </div>


    <div class="main_father">

        <div style="width: 87%; justify-self: center; background: none;">
            <div class="secons_main">
                <div class="inner_secons">

                    <h2 style="font-family: helvetica; width: 70%;">Need help with web structuring? WORK WITH ME!...</h2>
                    <h2 style="font-family: helvetica; margin-top: 21vh;">BRING YOUR IDEA !!!</h2>
            
                </div>

                <div class="inner_seconss">

                    <h1>What are clients saying</h1>
                    <p>Working with Iyiola Abifarin has been an incredible experience. His attention to detail, creativity, and ability to turn ideas into sleek, functional websites is outstanding. He consistently delivers clean, responsive, and user-friendly solutions that exceed expectations</p>
                    
                    <div style="display: flex;align-items: center;gap: 4vh;">
                        <img src="Screenshot_20250726-130812.png" alt="" style="width: 10vh; height: 10vh; border-radius: 100%;">
                        <p><small>- Emily Brown -</small></p>
                    </div>

                </div>

            </div>

    
        </div>

        <div class="main_spam">

            <i class="fa-brands fa-html5"></i>
            <i class="fa-solid fa-code"></i>
            <i class="fa-brands fa-css3-alt"></i>

        </div>
        
    </div>


    <footer class="foot_isit">
        <div class="foot_isit_div">

            <div>
                <h3>Get in touch</h3>
                <a href="mailto:greysmoke217@gmail.com" class="foot_a" title="Email Iyii">greysmoke217@gmail.com</a>
            </div>

            <div>
                <h3>Location</h3>
                <p style="width: 60%;">Ojo close, Ijaiye,Lagos,Nigeria</p>
            </div>

            <div>
                
            </div>

        </div>
    </footer>




    <div class="fixed_class">
        <i class="fab fa-whatsapp" onclick="go_to_whatsapp()"></i>
        <i class="fab fa-whatsapp" onclick="go_to_github()"></i>
        <i class="fab fa-tiktok" onclick="go_to_tiktok()"></i>
    </div>
    
    <script src="script.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>